---
http_interactions:
- request:
    method: get
    uri: http://goldpricez.com/api/rates/currency/cop/measure/gram
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - f6412fdf260d55b6cb460cb4e5bad69cf6412fdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ounce_price_usd\":\"1301.38\",\"gmt_ounce_price_usd_updated\":\"26-05-2018
        01:01:00 am\",\"ounce_price_ask\":\"1301.38\",\"ounce_price_bid\":\"1301.02\",\"ounce_price_usd_today_low\":\"1299.77\",\"ounce_price_usd_today_high\":\"1307.99\",\"usd_to_cop\":\"2886.12\",\"gmt_cop_updated\":\"25-05-2018
        09:05:00 pm\",\"ounce_in_cop\":3755938.8456,\"gram_to_ounce_formula\":0.0321,\"gram_in_usd\":41.774298,\"gram_in_cop\":120565.63694376}"'
  recorded_at: Fri, 25 May 2018 21:21:44 GMT
recorded_with: VCR 3.0.3
